# Ignore virtual environment directories
venv/
env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore build artifacts
build/
dist/
*.egg-info/